.about article{
    width:100%;

    display:grid;
    grid-gap: 20px;

    justify-items: center;
    align-items: center;

    border-bottom: 1px solid #eee;
}


.about article:last-of-type{
    border-bottom: none;
}

.about article{
    grid-template-areas: "image content";
}
.about article:nth-of-type(2n){
    grid-template-areas: "content image";
}

.about{
    overflow: hidden;
    margin-bottom: 20px;
}

.about article section{
    margin:20px;
}

.about article section img{
    height:260px;
    width:auto;
}

.about_content{
    grid-area: content;
}
.about_image{
    grid-area: image;
}


@media only screen and (max-width: 1024px) {
    
    .about article{
        grid-template-areas: "image"
         "content";
    }
    .about article:nth-of-type(2n){
        grid-template-areas: "image"
         "content";
    }
}