@keyframes nicknameFade {
    0% {
        transform: scaleY(0);
        opacity: 0;
        letter-spacing: 0px;
        text-indent: initial;
    }
    60% {
        transform: scaleY(0);
        opacity: 0;
        letter-spacing: 0px;
        text-indent: initial;
    }
    80% {
        transform: scaleY(1);
        letter-spacing: 0px;
        text-indent: initial;
    }
    100% {
        letter-spacing: 1em;
        text-indent: 1em;
    }
}
@keyframes fadeTop{
    0% {
        transform: translateY(50%);
    }
    60% {
        transform:  translateY(50%);
    }
    80% {
        transform: translateY(0%);
    }
}

@keyframes fadeBottom{
    0% {
        transform: translateY(-50%);
    }
    60% {
        transform:  translateY(-50%);
    }
    80% {
        transform: translateY(0%);
    }
}


.titles h1 span{
    color:white;
    overflow:hidden;
    display:inline-block;
    height:auto;
    font-family: inherit;
    white-space:pre;
}
.titles h1 span.newline{
    display:block;
    padding: 0px;
    margin: -0.1em;
}
.titles h1 span.nickname{
    animation: nicknameFade 1s ease;
    opacity: 0.5;
    font-family: 'GeosansLight';
    letter-spacing: 1em;
    text-indent: 1em;

}
.titles h1 span.topname{
    animation: fadeTop 1s ease
}
.titles h1 span.bottomname{
    animation: fadeBottom 1s ease
}

.quicklinks{
    position: absolute;
    bottom:10vh;
    width:100%;
    text-align:center;
}

.quicklinks img,.quicklinks div{
    display:inline-block;
    width:48px;
    height:48px;
    margin:10px;
    background:rgba(0,0,0,0);
}
.quicklinks div{
    background: white;
}
.quicklinks img:hover{
    cursor:pointer;
}


@media only screen and (max-height: 600px) {
    .quicklinks{
        position: static;
        margin-top:-18vh;
    }
}