*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    background:black;
}

.titles{
    width:100%;
    padding-top: 35vh;
    padding-bottom:30vh;
    transform-style:inherit;
    text-transform: uppercase;
}
.titles .outline{
    text-shadow: 0px 0px 2px #444;
}
.titles h1{
    font-size: 48px;
    color:white;
    text-align: center;
    font-family: 'Poiret One';
    margin-bottom:2px;
}
.titles h2{
    font-size: 16px;
    color:#ddd;
    text-align: center;
    font-weight: lighter;
}

.titles h1 span{
    color:white;
    overflow:hidden;
    display:inline-block;
    height:auto;
    font-family: inherit;
    white-space:pre;
}

@keyframes fade{
    0% { opacity: 0; }
    100% {opacity: 1;}
}

@keyframes jump{
    0% { transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

@keyframes backgroundFade {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

.background{
    position:fixed;
    top:0px;
    left:0;
    z-index:-1;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;  
}

.background_fade{
    animation: backgroundFade 1s ease;
}

.fade{
    animation: fade 1s ease;
}
.jump{
    animation: jump 0.5s ease;
}
.jump.fade{
    animation: fade 1s ease, jump 0.5s ease;
}

.header .logo{
    display: inline-block;
    
    height:48px;
    width:auto;

    margin: 12px;
    margin-left:24px;

    background:rgba(0,0,0,0);
}

.header{
    position:fixed;
    padding:0;
    margin:0;
    width:100%;
    top:0;
    left:0;
    height:72px;
    background:white;
    color:black;
}

.menu{
    list-style-type: none;
    overflow: hidden;
    
    display: block;
    float:right;
    padding:0;
    margin:0;
    
}
.menu li{
    display:inline-block;
    font-weight: bold;
    text-transform: uppercase;

    padding:10px;
    margin-top:14px;
    margin-right:24px;
}
.menu li:hover{
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#menu_button{
    position:fixed;
    right:12px;
    top:12px;

    width:48px;
    height:48px;

    border-radius: 50%;
    background:white;
    visibility: hidden;
}
#menu_button:hover{
    background:#ddd;
}

.colored{
    background:rgb(179, 38, 38);
}

.content{
    background:white;
    color:#333;
    width:100%;
    min-height:30vh;
    padding:100px;
    font-size:20px;
}

.content .introduction{
    text-align: center;
    padding-bottom:20px;
    border-bottom:1px solid #ddd;
}

.articles{
    display: grid;
    grid-gap: 40px 40px;  
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.articles article{
    padding:10px;
}
.articles h1{
    text-align: center;
    font-family: 'Poiret One';
    font-size: 20px;
    text-transform: uppercase;
    color:#555;
}
.articles .cover{
    width:100%;
    margin:0 auto;
    padding-left:5%;
    padding-right:5%;
}

footer{
    position: relative;;
    bottom:0;
    border-top:1px solid #ddd;
    padding:20px;
    text-align: center;
    color:#ddd;
    width:100%;
    clear:both;
}

a{
    color:inherit;
    text-decoration: inherit;
}
a:hover{
    color:inherit;
}
a:visited{
    color:inherit;
}

@media only screen and (max-width: 1280px) {
    .articles{
        grid-template-columns: 50% 50%;
        grid-gap: 20px 20px;  
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        position: absolute;
        width:200px;
        left:-200px;
        top:60px;
        min-height:calc(100vh - 60px);
        background:white;
    }
    .menu li{
        display:block;
        width:100%;
        padding-left:20px;
    }
    .menu li:hover{
        border:none;
        background:#ddd;
    }
    .titles h1{
        font-size:32px;
    }
    #menu_button{
        visibility: visible;
        padding-top:12px;
    }
    #menu_button div{
        width:50%;
        height:3px;
        background:#444;
        margin:0 auto;
        margin-top: 4px;
    }
    .content{
        padding:40px;
    }
    .articles{
        grid-template-columns: 100%;
        grid-gap: 5px 5px;  
    }
}

@media only screen and (max-width: 500px) {
    .titles h1{
        font-size:24px;
    }
    .content{
        padding:20px;
    }
}