*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    background:black;
}

.titles{
    width:100%;
    padding-top: 35vh;
    padding-bottom:30vh;
    transform-style:inherit;
    text-transform: uppercase;
}
.titles h1{
    font-size: 48px;
    color:white;
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-bottom:2px;

}
.titles h2{
    font-size: 16px;
    color:#ddd;
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
}

.titles h1 span{
    color:white;
    overflow:hidden;
    display:inline-block;
    height:auto;
    font-family: inherit;
    white-space:pre;
}

@keyframes fade{
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes backgroundFade {
    0% {
        opacity: 0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

.background{
    background: 50% 50% / cover;
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:block;
    background-image:url("../img/index.jpg");
    background-size:cover;
    z-index:-1;
    min-height:100vh;
    animation: backgroundFade 1s ease;
}

.fade{
    animation: fade 1s ease;
}

.header .logo{
    display: inline-block;
    
    width:48px;
    height:48px;

    margin: 12px;

    background:black;
    border-radius: 50%;
}

.header{
    position:fixed;
    padding:0;
    margin:0;
    width:100%;
    top:0;
    left:0;
    height:72px;
    background:white;
    color:black;
}

.menu{
    list-style-type: none;
    overflow: hidden;
    
    display: block;
    float:right;
    padding:0;
    margin:0;
    
}
.menu li{
    display:inline-block;
    font-weight: bold;
    text-transform: uppercase;

    padding:10px;
    margin-top:14px;
    margin-right:24px;
}
.menu li:hover{
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#menu_button{
    position:fixed;
    right:12px;
    top:12px;

    width:48px;
    height:48px;

    border-radius: 50%;
    background:white;
    visibility: hidden;
}
#menu_button:hover{
    background:#ddd;
}

.content{
    background:white;
    color:#333;
    width:100%;
    min-height:30vh;
    padding:100px;
    font-size:20px;
}

.footer{
    position: relative;;
    bottom:0;
    border-top:1px solid #ddd;
    padding:20px;
    text-align: center;
    color:#ddd;
    width:100%;
}

a{
    color:inherit;
    text-decoration: inherit;
}
a:hover{
    color:inherit;
}
a:visited{
    color:inherit;
}


@media only screen and (max-width: 768px) {
    .menu {
        position: absolute;
        width:200px;
        left:-200px;
        top:60px;
        min-height:calc(100vh - 60px);
        background:white;
    }
    .menu li{
        display:block;
        width:100%;
        padding-left:20px;
    }
    .menu li:hover{
        border:none;
        background:#ddd;
    }
    .titles h1{
        font-size:32px;
    }
    #menu_button{
        visibility: visible;
        padding-top:12px;
    }
    #menu_button div{
        width:50%;
        height:3px;
        background:#444;
        margin:0 auto;
        margin-top: 4px;
    }
    .content{
        padding:40px;
    }
}

@media only screen and (max-width: 500px) {
    .titles h1{
        font-size:24px;
    }
    .content{
        padding:20px;
    }
}